.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
}

.dateSelector {
  padding: 2% 0 2% 0;
  border: 0.5px solid #D5D4DF;
  flex: 1;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 5.65px 5.65px 0 #D5D4DF;
  overflow: auto;
}

.timeSelector {
  padding: 2% 0 2% 0;
  border: 0.5px solid #D5D4DF;
  flex: 1;
  height: 100%;
  border-radius: 20px;
  box-shadow: 5.65px 5.65px 5.65px 0 #D5D4DF;
  overflow: auto;
}

.dateSelector::-webkit-scrollbar {
  display: none;
}

.timeSelector::-webkit-scrollbar {
  display: none;
}

.dateContainer {
  width: 84%;
  height: 16%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 2% auto;
  border-radius: 21px;
  position: relative;
}

.dateContainer h5 {
  font-size: 1.6rem;
  font-weight: 600;
}

.dateContainer p {
  font-size: 1.2rem;
}

.dateClick {
  background-color: #E8E8E8;
}

.timeContainer {
  width: 95%;
  height: 8%;
  margin: 2% auto;
  display: flex;
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  .dateContainer:hover {
    background-color: #E8E8E8;
  }

  .timeContainer:hover div {
    background-color: rgba(60,58,58, 0.7);
  }
}

.timeContainer p {
  padding-top: 5px;
  font-size: 1rem;
  flex: 3;
}

.timeContainer div {
  background-color: #E8E8E8;
  flex: 7;
}

.timeClick div {
  background-color: #3C3A3A;
}

.icon {
  position: absolute;
  top: 45%;
  right: 5%;
}