.first_label {
  text-align: center;
  font-weight: bold;
  font-size: 300%;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 5% 10%;
}
.header input {
  border: 2px solid rgb(240, 240, 240);
  padding: 5px 50px;
  border-radius: 10px;
  padding-left: 5%;
  height: 50px;
  font-weight: 400;
}
.footer {
  color: red;
  font-size: 13px;
  font-weight: 500;
  height: 20px;
}
.loginbutton {
  background-color: black;
  color: white;
  text-align: center;
  margin: 5% 10%;
  padding-top: 15px;
  height: 50px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
