.layout {
  position: relative;
  top: 30px;
}
.logo {
  margin-left: 22%;
  margin-bottom: 10%;
  width: 60%;
}
.first_label {
  margin-top: 5%;
  text-align: center;
  font-weight: bold;
  font-size: 300%;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 5% 10%;
}
.header input {
  border: 1.5px solid rgb(209, 204, 228);
  border-radius: 10px;
  padding: 5% 2.5%;
  height: 50px;
  font-weight: 400;
  max-width: 97%;
}
.input_header {
  color: grey;
  font-size: 110%;
}

.input::placeholder {
  color: rgb(187, 183, 183);
  font-size: 150%;
}

.footer {
  color: red;
  font-size: 13px;
  font-weight: 500;
  height: 20px;
}
.error {
  margin: 0 10%;
  padding-bottom: 3%;
  font-weight: bold;
}
.button {
  margin-left: 10%;
}
