.inputbox {
  display: flex;
  text-align: center;
  margin-left: 40%;
}

.inputname {
  border: none;
  outline: none;
  font-size: 30px;
  font-weight: bold;
  width: 50%;
}

::placeholder {
  color: lightgrey;
}

.header {
  font-weight: bold;
  font-size: x-large;
  display: flex;
  gap: 80px;
  border-bottom: 1px solid lightgrey;
  margin: 30px;
}

.header:hover {
  border-bottom: 1px solid black;
}

.header > h1 {
  margin-bottom: 10px;
  cursor: pointer;
}

.container {
  margin: 2% 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.container > div {
  border: 2px solid rgb(240, 240, 240);
  border-radius: 30px;
  padding: 10px;
  background-color: rgb(240, 240, 240);
}

.container > div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.button {
  background-color: black;
  color: white;
  text-align: center;
  margin: 5% 10%;
  padding-top: 10px;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}