.layout {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.logo {
  width: 60%;
}

.layout p {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}

.button {
  margin: 0 auto;
}

.error {
  min-height: 16px;
  font-size: 1rem;
  font-weight: 700;
  color: red;
}